body > .container {
  padding: 60px 15px 0;
}

.table td, .table th {
  vertical-align: middle;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.img-icon,
.gift-item-img {
  max-width: 80%;
  height: auto;
}

.table-col-lg {
  width: 60%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .img-icon,
  .gift-item-img {
    max-width: 80px;
    height: auto;
  }

  .table-col-lg {
    max-width: 90%;
    height: auto;
  }
}
.item-title {
  display: block;
}