body > .container {
  padding: 60px 15px 0;
}

table thead th,
table tbody > td {
    vertical-align: middle;
    text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.img-icon, .gift-item-img {
  min-width: 50px;
  max-width: 80px;
  height: auto;
  margin: 0 15px;
}

.table-col-lg {
  max-width: 100px;
  height: auto;
  pandding: auto 1rem;
}