body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* 自訂圖示 */
.icon::before, .icon::after {
  display: none;
}
.menu-bar::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
}
.login-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
}
.twitter::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f099";
}
.accordion .card-header .icon-minus::after {
    font-family: 'FontAwesome';  
    content: "\f068"; /* 參考: https://www.codeply.com/go/CrzVtAEIEV/bootstrap-4-accordion-collapse-icons */
    float: right; 
}
.accordion .card-header.collapsed .icon-plus::after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
