$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

* {
  /* resetting the box model for all elements */
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

main {
  margin-top: 15px;
}

.container-flex {
  padding-top: 60px;
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-flex {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bs-component+.bs-component {
    margin-top: 1rem;
}

.bs-component {
    position: relative;
}

.bs-docs-section {
    margin-top: 35px;
}

.header-text > h1 {
  margin-left: 1rem;
}

.header-text > p {
    margin: auto 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header {
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    z-index: 2;
    overflow: hidden;
}

header, section {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

footer, header, nav, section {
    position: relative;
}

.footer {
  position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;
   line-height: 60px;
   background-color: #ecf0f1;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* https://icomoon.io/ */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/*
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
*/
svg:not(:root).icon-inline--fa {
    overflow: visible;
}
svg.svg {
  display: none;
}
/* .svg-inline--fa */
.icon-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}
/* .fa-fw */
.icon-fw {
    text-align: center;
    width: 1.25em;
}
/* .svg-inline--fa.fa-fw */
.icon-inline--fa.icon-fw {
    width: 1.25em;
}
.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-48 {
  width: 48px;
  height: 48px;
}
.icon-64 {
  width: 64px;
  height: 64px;
}

.icon.codepen {
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2.3;
    stroke-linejoin: round;
    stroke-linecap: round;
    height: 26px;
    width: 138px;
}

.icon-jsfiddle {
  width: 1.142578125em;
}

/* CSS 屬性選擇器 */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */
div[class$="test"] {
  margin: 16px 0px;
}

svg[class$="32"] {
  width: 32px;
  height: 32px;
}

svg[class$="400"] {
  width: 400px;
  height: 400px;
}

:root {
  --balloon-border-radius: 4px;
  --balloon-font-size: 0.8rem;
  --balloon-color: rgba(16,16,16,0.95);
  --balloon-move: 30px;
}

.tooltiop-balloon-lg {
  --balloon-font-size: 1.2rem;
}

.ttt {
  {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    font-family: sans-serif !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-shadow: none !important;
    font-size: .8rem !important;
    background: rgba(33,37,41,0.9);
    border-radius: 4px;
    color: #fff;
    content: attr(data-balloon);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}
  
  
#gototop {
  display: inline-block;;
  position: fixed;
  bottom: 31px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #33b5e5;
  color: white;
  cursor: pointer;
  line-height: 50px;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#gototop:hover {
  background-color: #0099CC;
}